/* ButtermilkCSS */
/* by theatomickiw */
/* based on https://github.com/JamesKegel/MilkCSS */
/*  GENERAL  */
@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 20px;
    color: #333;
    background-color: #fefefe;
}
/*  DOM ELEMENTS  */

a {
    text-decoration: none;
    font-weight: bolder;
    color: inherit;
    opacity: 1;
}
li {
    list-style-type: none;
}
button {
    border-radius: .4em;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    padding-left: .4em;
    padding-right: .4em;
    color: #333;
}
button:active {
    background-color: #ccc;
    color: #333;
}
button:focus {
    outline: none;
}
.button-lg {
    font-size: 1.2em;
    padding-left: .4em;
    padding-right: .4em;
}
.button-red {
    background-color: #c53430;
    color: #eee;
}
.button-red:active {
    background-color: #872421;
    color: #eee;
}
.button-blue {
    background-color: #24529d;
    color: #eee;
}
.button-blue:active {
    background-color: #16315f;
    color: #eee;
}
.button-green {
    background-color: #03a678;
    color: #eee;
}
.button-green:active {
    background-color: #025b42;
    color: #eee;
}
.button-yellow {
    background-color: #F7CA18;
    color: #eee;
}
.button-yellow:active {
    background-color: #d5ab07;
    color: #eee;
}
p {} img {
    max-width: 100% !important;
    max-width: 100%;
    height: auto;
}
hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #333;
    background-color: #333;
    size: .1rem;
}
h1 {
    font-family: "Roboto", "Open Sans", Arial, Helvetica, Sans-serif;
    text-decoration: none;
    font-weight: 900;
    font-size: 4rem;
    line-height: 2rem;
}
h2 {
    font-family: "Roboto", "Open Sans", Arial, Helvetica, Sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}
h3 {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.50rem;
}
h4 {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.0rem;
}
h5 {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: normal;
    font-size: .8rem;
    git config --global credential.helper 'cache --timeout=3600'
}
h6 {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: normal;
    font-size: .5rem;
}
/*  DOM MODIFIER  */

.subtitle {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    opacity: .7;
}
.light {
    opacity: .80;
}
.lighter {
    git config --global credential.helper 'cache --timeout=3600' opacity: .50;
}
.lightest {
    opacity: .30;
}
/*  SECTIONS  */

.row {
    clear: both;
    padding: 0px;
    margin: 0px;
}
/*  COMFORT ITEMS  */

.container {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
div .inverse {
    background-color: #333;
    color: #eee;
}
div .inverse div .box {
    color: #333;
}
/*  COLUMN SETUP  */

.box {
    display: block;
    float: left;
    margin: 1% auto 1% auto;
    background-color: #ddd;
    padding: 1rem;
}
.box:first-child {
    margin-left: 0;
}
/*  COLUMN STACKING  */

.stack {
    zoom: 1;
}
.stack:before,
.stack:after {
    content: "";
    display: block;
    clear: both;
}
/*  GRID OF EIGHT  */

.eight {
    width: 100%;
}
.seven {
    width: 87.29%;
}
.six {
    width: 74.59%;
}
.five {
    width: 61.89%;
}
.four {
    width: 49.19%;
}
.three {
    width: 36.48%;
}
.two {
    width: 23.78%;
}
.one {
    width: 11.08%;
}
/*  EXTRA CLASSES  */

.code {
    margin: .5rem 0rem;
    padding: 1rem 2rem .5rem 2rem;
    font-size: 90%;
    color: #eee;
    white-space: pre-line;
    background-color: #333;
    border: 0px;
    font-family: monospace, monospace;
    text-shadow: .1rem .1rem .1rem #223;
    box-shadow: inset .1rem .1rem .5rem #223;
    -moz-box-shadow: inset .1rem .1rem .5rem #223;
    -webkit-box-shadow: inset .1rem .1rem .5rem #223;
}
/*----MEDIA QUERIES---*/
/* xs viewport size */

@media only screen and (min-width: 10px) and (max-width: 720px) {
    .box {
        margin: 1% 0 1% 0%;
    }
    .one,
    .two,
    .three,
    .four,
    .five,
    .six,
    .seven,
    .eight,
    .nine {
        width: 100%;
    }
    .xs-hidden {
        display: none;
    }
    h1 {
        line-height: 4rem;
    }
    h2 {
        line-height: 2rem;
    }
}
/* sm viewport size */

@media only screen and (min-width: 721px) and (max-width: 960px) {
    .sm-hidden {
        display: none;
    }
    h1 {
        line-height: 4rem;
    }
    h2 {
        line-height: 2rem;
    }
}
/* md viewport size */

@media only screen and (min-width: 961px) and (max-width: 1024px) {
    .md-hidden {
        display: none;
    }
}
/* lg viewport size */

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .lg-hidden {
        display: none;
    }
}
/* xl viewport size */

@media only screen and (min-width: 1281px) {
    .xl-hidden {
        display: none;
    }
}
/* Custom display */

.displayinlineblock {
    display: inline-block !important;
}
/* Image filters */

.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.blur {
    -webkit-filter: blur(5px);
    filter: blur(5px)
}
.invert {
    -webkit-filter: invert(100%);
    filter: invert(100%)
}
.sepia {
    -webkit-filter: sepia(100%);
    filter: sepia(100%)
}
/* Center Images, text and dividers */
h1.center,h2.center,h3.center,h4.center,h5.center,h6.center,p.center,i.center,b.center,em.center,small.center,mark.center,del.center,ins.center,sub.center,sup.center{text-align: center}
div.center,img.center,span.center{display: block; margin: 0 auto 0 auto}
/* shadow */
h1.shadow,h2.shadow,h3.shadow,h4.shadow,h5.shadow,h6.shadow,p.shadow,i.shadow,b.shadow,em.shadow,small.shadow,mark.shadow,del.shadow,ins.shadow,sub.shadow,sup.shadow{text-shadow: 3px 3px 0.5px}
div.shadow,span.shadow {box-shadow: 3px 3px 0.5px;}
/*Fonts!*/
.montserrat{@import url(https://fonts.googleapis.com/css?family=Montserrat);font-family: 'Montserrat', sans-serif;}
.open-sans,.opensans,.open.sans{@import url(https://fonts.googleapis.com/css?family=Open+Sans);font-family: 'Open Sans', sans-serif;}
